*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size:xx-large;
    margin-top: 5vh;
}